<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,user-scalable=no" name="viewport" />
    <title>AlarmCenter | 智慧影院</title>
    <link type="text/css" rel="stylesheet" href="/fonts/fonts2/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="res/GDCStyle.css" />
</head>
<body class="gdcMain" style="width:1080px;margin:0 auto;">
    <div id="listCinemal" class="listCinemal">
        <p>影院列表：</p>
        <ul></ul>
    </div>
    <div id="listScreens" class="listCinemal">
        <p>影厅列表：</p>
        <ul></ul>
    </div>
    <!--<div id="listMovies" class="listCinemal">
        <p>影片列表：</p>
        <ul></ul>
    </div>-->
    <script type="text/javascript" src="/Scripts/plug/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="res/jQuery.md5.js"></script>
    <script type="text/javascript" src="res/settings.js"></script>
</body>
</html>
