<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>AlarmCenter | 首页</title>
    <!--框架样式-->
    <link rel="stylesheet" href="/Styles/Mobile/framework7.ios.min.css">
    <link rel="stylesheet" href="/Styles/Mobile/framework7.ios.colors.min.css">
    <!--图标字体样式-->
    <link rel="stylesheet" type="text/css" href="/fonts/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/fonts/fonts2/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/fonts/liangdawang/iconfont.css" />
    <!--声波动画-->
    <link rel="stylesheet" type="text/css" href="/Styles/Plugin/waveAnimation.css" />
    <!--本页样式-->
    <link rel="stylesheet" href="/Styles/Mobile/home.css">
</head>
<body>
    <!-- 状态栏覆盖为全屏模式 -->
    <div class="statusbar-overlay"></div>
    <!-- 面板覆盖-->
    <div class="panel-overlay"></div>
    <!-- 左侧边栏-->
    <div class="panel panel-left layout-dark panel-reveal">
        <div class="list-block list-page">
            <ul>
                <li>
                    <a href="#" class="item-link close-panel">
                        <div class="item-content">
                            <div class="item-media"><i class="iconfont icon-yonghu"></i></div>
                            <div class="item-inner">
                                <div class="item-title" id="userName"></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link" onclick="onAbout()">
                        <div class="item-content">
                            <div class="item-media"><i class="iconfont icon-guanyu"></i></div>
                            <div class="item-inner">
                                <div class="item-title">关于</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link close-panel" onclick="myJavaFun.RichScan();">
                        <div class="item-content">
                            <div class="item-media"><i class="iconfont icon-saoyisao"></i></div>
                            <div class="item-inner">
                                <div class="item-title">扫一扫（app）</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="RichScan.html" class="item-link close-panel">
                        <div class="item-content">
                            <div class="item-media"><i class="iconfont icon-saoyisao"></i></div>
                            <div class="item-inner">
                                <div class="item-title">扫一扫（web）</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li id="appCacheClearLi" style="display:none;">
                    <a href="#" class="item-link" onclick="onAppCacheClear()">
                        <div class="item-content">
                            <div class="item-media"><i class="iconfont icon-huancun"></i></div>
                            <div class="item-inner">
                                <div class="item-title">清空缓存</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link" onclick="onUserLogout()">
                        <div class="item-content">
                            <div class="item-media"><i class="iconfont icon-logout"></i></div>
                            <div class="item-inner">
                                <div class="item-title">注销</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 右侧边栏-->
    <div class="panel panel-right panel-reveal">
        <div class="content-block">
            <p>右侧边栏内容</p>
        </div>
    </div>
    <!-- 视图 -->
    <div class="views">
        <div class="view view-main">
            <!-- 顶部导航条-->
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- 标题 -->
                    <div class="center sliding">新一代机房综合监控系统</div>
                    <div class="right">
                        <a href="#" class="link icon-only open-panel"><i class="iconfont icon-caidan"></i></a>
                    </div>
                </div>
            </div>
            <!-- 子界面-->
            <div class="pages navbar-through toolbar-through">
                <div data-page="home" class="page" id="home">
                    <!-- 界面内容 -->
                    <div class="page-content" id="homeContents" style="display:none;">
                        <div class="homepages">
                            <img src="LDW/img/home.jpg" />
                        </div>
                        <div class="row no-gutter page_list">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 底部工具栏-->
            <div class="toolbar tabbar tabbar-labels">
                <div class="toolbar-inner">
                    <a href="home.html" class="link active" id="homeTool">
                        <i class="iconfont icon-home_a" cls="home"></i>
                        <span class="tabbar-label">首页</span>
                    </a>
                    <a href="Message.html" class="link" id="MessageTool">
                        <i class="iconfont icon-message_b" cls="message"></i>
                        <span class="tabbar-label">实时快照</span>
                    </a>
                    <a href="RealTime.html" class="link" id="RealTimeTool">
                        <i class="iconfont icon-shebei_b" cls="shebei"></i>
                        <span class="tabbar-label">设备数据</span>
                    </a>
                    <a href="Voice.html" class="link" id="VoiceTool">
                        <i class="iconfont icon-yuyin_b" cls="yuyin"></i>
                        <span class="tabbar-label">语音</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 框架js-->
    <script src="/Scripts/plug/jquery-1.10.1.min.js"></script>
    <script src="/Scripts/plug/highcharts.js"></script>
    <script src="/Scripts/plug/echarts-all-3.js"></script>
    <script type="text/javascript" src="/Scripts/plug/framework7.min.js"></script>
    <script type="text/javascript" src="/Scripts/plug/html2canvas.min.js"></script>
    <script type="text/javascript" src="/Scripts/mobile/home.js"></script>
    <script type="text/javascript" src="LDW/js/LDWHome.js"></script>
    <script type="text/javascript" src="/Scripts/plug/RichScan/qrcode.lib.min.js"></script>
</body>
</html>