<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="iconfont icon-back"></i>
            </a>
        </div>
        <div class="center sliding">二维码/条码</div>
        <div class="right">
            
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="RichScan" class="page" id="RichScan">
        <div class="page-content">
            <div class="ricscan_div">
                <input id='ricscan_ipt' class="ricscan_ipt" type="file" accept="image/*" capture="camera">
                <a class="button button-big button-fill ricscan_btn">扫描二维码</a>
                <img id="ricscan_img" src="" class="ricscan_img" />
                <div id="ricscan_text" class="ricscan_text"></div>
            </div>
        </div>
    </div>
</div>